body {
    background-color:#027353;
    /* Replace with your desired background color */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  img {
    margin-left: 600px;
    padding-bottom: 35px;
  }


